---
layout: default
---
<main class="page-lessons">
  <a href="/professor.html">&laquo; Back to Professor Resources</a>
  <h1 class="page-title">{{ page.title | escape }}</h1>
  <div class="content">
    {{ content }}
    <ul class="list-unstyled list-group">
      {% for announcement in site.announcements %}
      <li class="list-group-item">
        <a class="announcement-link" href="{{ announcement.url | relative_url }}">
          {{ announcement.title | escape }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</main>
